<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <% if(16>10){ %>
    <h1>Home</h1>
    <% }else{ %>
    <h1>Nyumbani</h1>
    <% } %>
    <ul>
      <% locals.vehicles.forEach(car=>{ %>
      <li>
        <h2><%= car.NumberPlate%></h2>
        <p>Capacity: <%= car.capacity%></p>
        <p>Owner: <%= car.OwnerID%></p>
        <p>Last Sevice: <%= car.LastService%></p>
      </li>
      <% }) %>
    </ul>
    <img src="kijiji.jpg" alt="eldohub kijiji meet" width="100%" />
    <!-- Do the same for owners -- create a owners page, route and get owners data in db shown in html(browser) -->
  </body>
</html>
